.nav-custom {
    color: blue;
    border-color: #FF0000;
}

.navbar-inverse {
    background-color: #00498B;
    border-color: #000000;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #000B2A;
}

.navbar-brand {
    float: left;
    padding: 5px 15px;
    font-size: 19px;
    line-height: 21px;
    height: 60px;
}
