/* navbar background color 
#2d3e4f to match side nav active color*/

.navbar-inverse {
    background-color:
    #2d3e4f;
    border:0;
    box-sizing: border-box;
  }
  
  .navbar-inverse .navbar-nav > li > a:hover {
    background-color: #6F7391;
    color: #27dfa9;
    }
  
    .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #6F7391;
    color:#27dfa9;
    }
    .navbar-inverse .navbar-nav > li > a:active {
    background-color: #6F7391;
    color: white;
    }
  
  .navbar-brand {
      float: left;
      padding: 5px 25px 5px 15px;
      font-size: 19px;
      line-height: 21px;
      height: 60px;
  }