/* navbar background color 
#2d3e4f to match side nav active color*/

.navbar-inverse {
    background-color:
    #2d3e4f;
    border:0;
    box-sizing: border-box;
    box-shadow: 0 3px 5px 0 rgba(0,0,0, 0.2), 0 5px 15px 0 rgba(0,0,0, 0.15);
    -webkit-transition: background-color .5s ease-in;
    transition: background-color .5s ease-in;
  }

  a {
    color: #697886;
}

  .navbar-nav > li > a {
    margin-bottom: -5px;
  }

  .navbar-inverse .navbar-nav > .active > a {
    -webkit-transition: background-color 2s;
    transition: background-color 2s; 
    background-color: #6F7391;
    color: white;
    background: linear-gradient(45deg,#9cecd4,teal);
    margin-bottom: -5px;
    }
  
  .navbar-inverse .navbar-nav > li > a:hover {
    -webkit-transition: background-color .5s ease-in;
    transition: background-color .5s ease-in;
    background-color: #6F7391;
    color: #27dfa9;
    margin-bottom: -5px; 
    }
  
    .navbar-inverse .navbar-nav > li > a:focus {
    -webkit-transition: background-color .5s ease-in;
    transition: background-color .5s ease-in;
    color:#27dfa9;
    margin-bottom: -5px; 
    
    }
    .navbar-inverse .navbar-nav > li > a:active {
    -webkit-transition: background-color .5s ease-in;
    transition: background-color .5s ease-in;
    color: white;
    margin-bottom: -5px;
    }
  
  .navbar-brand {
      float: left;
      padding: 5px 25px 5px 15px;
      font-size: 19px;
      line-height: 21px;
      height: 60px;
  }