/* active item bkground color 
#2d3e4f */

/* Using react-bootstrap Nav components, stacked pills */

.nav {
    line-height: 2.0;
    margin-right: 5%;
    background-color: #2e3e4e;
    border-radius: 5px;

}
