
.loginpic {
    float: right;
    width: 65%;
    max-height: 400px;
    min-height: 400px;
}

.login-info-box {
    float: left;
    width: 35%;
    padding-left: 5%;
    padding-top: 5%; 
}

.kitbitzname {
    width: 150px;
    margin: -10px 20px 25px; 
}

.form-box {
    width: 97%;
    max-width: 700px;
    height: auto;
    max-height: 400px;
    margin: auto;
    margin-top: 4%;
    border-radius: 5px;
    background-color: rgb(247, 245, 245); 
    box-shadow: 0 5px 8px 0 rgba(0,0,0, 0.2), 0 7px 20px 0 rgba(0,0,0, 0.17);
}

#registerBox {
    padding-top: 20%;
    float: right;
    margin-bottom: 10%;
}

#registerBox h4{
    float: left;
    color: #101648;
    font-size: 1.2em;
    padding-bottom: 1em;
    padding-right: 15px;
}

h3 {
    color: #7e8196;
    font-size: 25px;
}

h4 {
    color: #101648;
}

.pop {
    color:#18a279;
}

.pop-white {
    color: #ffffff;
}

.position-left {
    float: left;
}

.input {
    width: 215px;
    background-color: white;
    border-radius: 0px;
    box-shadow: .5vw .5vw 0 #cacbd4;
    border-style: solid;
    border-color: #bcbfd1;
    border-width: 1px;
    font-size: 12px;
    padding: 3px;
    -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.input:hover {
    box-shadow: 0.2vw 0.2vw 0 #9ea1b8;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.form-btn {
    background: rgba(11, 14, 48, 0);
    color: rgb(109, 109, 109);
    padding: 1px;
    border: none;
    margin: 10px;
}

.form-btn:hover {
    color: black;
    padding: 1px;
    background: none;
}

.close {
    color: #7e8196;
}


/* MEDIA QUERIES ====================================== */

@media only screen and (max-width:980px){
    #bugsImage{
     visibility: hidden;
       }
    
    #modal-box{
        width: 80%;
        min-height: 300px;     
    }  
    

   }

   @media only screen and (max-width:700px){

    .loginpic {
        visibility: hidden;
    }

    .form-box {
        background-image: url(login-page-small.png);
        background-repeat: no-repeat;
        background-size: 530px 800px;
        height: 800px;
        max-height: 700px;
        max-width: 530px;
        min-width: 530px;
        margin-top: 0px;
    }

    h3 {
        text-align: center;
    }

   .pop-white {
        font-size: 15px;     
    }
   
   }