

#bugsImage {
    float: right;
 
}

.form-box {
    margin: 100px auto;
    height: auto;
    padding: 10%;

    box-shadow: 0 5px 8px 0 rgba(0,0,0, 0.2), 0 7px 20px 0 rgba(0,0,0, 0.17);
   
}

/* MEDIA QUERIES ====================================== */

@media only screen and (max-width:980px){
    #bugsImage{
     visibility: hidden;
       }
   }

