.sidebar {
    /* color: white;
    position: absolute;
    top: 112px;;
    left: 0;
    width: 180px;
    height: 50px;
    background-color: #4b7690;
    float: right; */
}

#sideBar {

  background-color: #00498B;
  color: white;
}
