@keyframes slideInFromLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .inventory-table {
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }