
/* card dimensions 290x380 */
.kit-card {
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    cursor: pointer;
    display: inline-table;
    margin: 8px;
    overflow: hidden;
    height: 370px;
    width: 290px;
    color: #7e8196;
    background-color: rgb(247, 245, 245); 
    box-shadow: 0 5px 8px 0 rgba(0,0,0, 0.2), 0 7px 20px 0 rgba(0,0,0, 0.17);
}

