
/* card dimensions 290x380 */

/* most styles are located in parent css file - Kits.css  */

.kit-card {
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    cursor: pointer;
    display: inline-table;
    margin: 10px;
    height: 370px;
    max-height: 370px;
    width: 250px;
    color: #7e8196;
    background-color: rgb(247, 245, 245);
    background: radial-gradient(closest-side, #fcfaf9, #eeeded, #e0e0e0);
    box-shadow: 0 8px 10px 0 rgba(0,0,0, 0.3), 0 17px 25px 0 rgba(0,0,0, 0.30);
    overflow-y: hidden;
}

/* hover */
.kit-card:hover { 
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s; 
    box-shadow: 0 3px 5px 0 rgba(0,0,0, 0.2), 0 5px 15px 0 rgba(0,0,0, 0.15);
    background: radial-gradient(closest-side, #fcfaf9, #e7e7e7, #dddddd);
    
}

.kit-title {
    position: relative;
    top: 0px;
    z-index: 10;
    padding-top: 5px;
    background: rgb(255,255,255);
    background: #2d3e4f;  /* fallback for old browsers */
    height: 50px;
    width: 250px;
    font-size: 22px;
    font-weight: bold;
    opacity: 1;  
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-shadow: 3px 4px 5px #000; 
    font-family: 'Raleway', sans-serif;
}

.kit-title-style {
    background-image: url("circuitbackground.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 2px rgb(63, 63, 63);
    padding: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    box-shadow: inset 0 3px 3px #323b3b;
}

.kit-image-div {
  margin: 0px;
  text-align: center;
}

.kitdetails {
    position: relative;
    bottom: 0px;
    max-height: 200px;
    width: 248px;
    overflow-y: hidden;
}

#kitImage {
    width:100%;
}

#pop-blue {
    color: #56BBAE;
}

.kit-owner-style {
    font-family: 'Acme', sans-serif;
    margin: 3px;
    color: black;
}


.kit-summary-style {
    color: black;
    overflow: hidden;
    font-family: 'Dosis', sans-serif;
    line-height: 110%;
}

small {
    color: #373737;
    text-overflow: ellipsis;
}