.hero {
    margin: 100px auto;
    height: auto;
    width: 90%;
    padding: 0 5%;
    background-color: white;
    clear: both;
    z-index: 1;
    box-shadow: 0 5px 8px 0 rgba(0,0,0, 0.2), 0 7px 20px 0 rgba(0,0,0, 0.17);
}

#bugsImage {
    float: right;
    z-index: 2;
}

#row{
    
}

h3{
    
}


.form-box {
    margin-top: 5%;
    padding: 10%;
   
}

@media only screen and (max-width:768px){
    #bugsImage{
     visibility: hidden;
       }
   }

